a.card {
  color: $body-font-color;
  line-break: anywhere;
}

.card-subtitle-item {
  padding-right: 1rem;
}

.card-subtitle-item-icon {
  margin-right: 0.25rem;
}

.tags-list-item {
  margin: 0 0.25rem 0 0;
}
