@import 'landing';
@import 'registration';

.guest-wrapper {
  background-color: rgba(0, 0, 40, 0.4);
  background-image: url('../images/landing_background.png');
  background-size: cover;
  min-height: 820px;
  padding-bottom: 60px;
  width: 100%;
}
