@import './sections/user_info';

.side-section {
  @media screen and (min-width: $twopane-width) {
    min-height: 100vh;
  }
  margin: 0;
}

.side-section-container {
  margin: 0;
  padding-top: 0.5rem;

  @media screen and (min-width: $twopane-width) {
    height: 100vh;
    padding-top: 1.5rem;
  }

  h4 {
    font-size: medium;
    font-weight: bold;
  }
}

.side-pane-bottom {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  margin-bottom: 0.25rem;
  margin-right: 0.75rem;
}

.left-pane-mobile-hidden {
  @media screen and (max-width: $twopane-width) {
    display: none;
  }
}

.side-footer-list {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    font-size: small;
    line-break: normal;

    a {
      color: $secondary-font-color;
    }

    &:not(:last-child)::after {
      content: "-";
      padding: 0 0.25em;
    }
  }
}

.left-section {
  width: 100%;

  @media screen and (min-width: $twopane-width) {
    margin-right: 0.75rem;
  }
}

.right-recommend-container {
  margin-left: 0.75rem;
}
