.side-section {
  min-height: 100vh;
  margin: 0;
}

.side-section-container {
  background-color: $secondary-background-color;
  padding-top: 1.5rem;
  margin: 0;
  height: 100vh;

  h4 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.side-pane-bottom {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  margin-bottom: 0.25rem;
}

.side-footer-list {
  list-style: none;
  li {
    display: inline-block;
    font-size: small;
    line-break: normal;

    a {
      color: $secondary-font-color;
    }

    &:not(:last-child)::after {
      content: "-";
      padding: 0 0.25em;
    }
  }
}

.right-recommend-container {
  margin-left: 0.5rem;
}
