$nweet-home-btn-height: 38px;

.nweet-form {
  @extend .mx-1;
  @extend .my-4;

  box-sizing: border-box;
}

.btn-nweet-sizing {
  display: block;
  width: 100%;
}

.btn-nweet {
  @extend .btn-primary;
  @extend .btn-nweet-sizing;

  font-weight: bold;
  border-radius: $nweet-home-btn-height / 2;
}

.btn-submit-nweet {
  border-radius: 0.25rem;
}

.btn-nweet-home {
  letter-spacing: 0.125em;
  height: $nweet-home-btn-height;
}

.new-nweet-form-top {
  @extend .btn;
  @extend .btn-nweet-home;
  @extend .btn-nweet-sizing;
  
  border-radius: #{$nweet-home-btn-height / 2} #{$nweet-home-btn-height / 2} 0 0;
  font-weight: bold;
  pointer-events: none;
  
  background-color: $secondary-font-color;
  color: white;
}

.new-nweet-form-bottom {
  border: 1px solid $secondary-font-color;
  border-radius: 0 0 #{$nweet-home-btn-height / 2} #{$nweet-home-btn-height / 2};
}
