li.nweet {
  list-style: none;
  padding: 0.5rem 0;
}

.nweet-statement {
  width: 100%;
  word-break: break-word;
}

.nweet {
  border-bottom: 1px solid $section-border-color;
}

.nweet-header {
  display: flex;
  align-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}

.nweet-header-left {
  flex-shrink: 0;
}

.nweet-header-right {
  flex-grow: 1;
  padding-left: 0.5rem;
}

.nweet-user-info {
  width: 100%;
  display: flex;
  align-items: baseline;
}

a.nweet-handle-name {
  color: $body-font-color;
  font-weight: bold;

  &:hover, &:focus, &:active {
    color: $body-font-color;
  }
}

a.nweet-screen-name {
  margin-left: 0.25rem;
  flex-grow: 1;

  color: $secondary-font-color;
}

.nweet-time {
  color: $secondary-font-color;
  font-size: small;
}

.nweet-sub-info {
  color: $secondary-font-color;
}

.nweet-statement {
  word-break: break-all;
  padding-left: 0.5rem;
  box-sizing: border-box;
  border-left: 1px solid $brand-color;
}

.nweet-bottom {
  display: flex;
}

.nweet-bottom-left {
  flex-grow: 1;
  margin-top: 0.25rem;
}

.btn-like {
  padding-left: 0;
  color: $secondary-font-color;


  &.liked {
    color: $like-btn-color;
  }

  &:hover {
    color: darken($like-btn-color, $hover-background-darkener);
  }

  &:active {
    box-shadow: none;
    outline: none;
  }
}

.nweet-bottom-btn{
  color: $secondary-font-color;
}

.btn-external {
  padding-right: 0;
}
