$registration-jumbotron-width: 400px;

.registration-jumbotron {
  @extend .rounded;

  margin: 10px auto;
  width: calc(100% - 40px);
  height: fit-content;

  background-color: $main-background-color;
  color: $body-font-color;

  @media screen and (min-width: #{$registration-jumbotron-width}) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-#{$header-height / 2});

    width: $registration-jumbotron-width;
  }
}

.registration-h1 {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.registration-form {
  .form-label {
    font-size: small;
  }
}
