body {
  background-color: $body-background-color;
  color: $body-font-color; 
  font-family: 'Mulish', 'Avenir Next', sans-serif;
  outline: none;
}

a {
  color: $brand-color;
  text-decoration: none;
  
  &:active {
    color: lighten($brand-color, $active-color-lightener);
  }

  &:hover {
    color: $brand-color;
  }
}

.btn-primary {
  color: white !important;
}

.btn-outline-primary {
  &:hover, &:focus {
    color: white !important;
  }
}
