body {
  background-color: $body-background-color;
  color: $body-font-color; 
  font-family: 'Mulish', 'Avenir Next', sans-serif;
}

a {
  color: $brand-color;
  text-decoration: none;
  
  &:active {
    color: lighten($brand-color, $active-color-lightener);
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

input, textarea {
  &:focus {
    outline: none;
  }
}

.btn {
  &:hover {
    text-decoration: none !important;
  }
}

.btn-primary {
  color: $body-background-color !important;
}

.btn-outline-primary {
  &:hover {
    color: $body-background-color;
  }
}
