.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  text-decoration: none;
}

.link-brand {
  @extend a;
}

.wrapper {
  margin-top: $header-height;
}
