.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  text-decoration: none;
}

.btn-outline-white {
  @include button-outline-variant(#fff);

  &:hover {
    border-color: $brand-color;
    background-color: $brand-color;
    color: white;
  }
}

.link-brand {
  @extend a;
}

.wrapper {
  margin-top: calc(#{$header-height} + 1.5rem);
}

.fullsize-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;

  padding-top: $header-height;
}

.absolute-center-on-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-#{$header-height / 2});
}

// bootstrap iconが微妙に下にズレている気がするので修正する
.search-icon {
  position: relative;
  top: -0.1em;
}
