/* global */
$body-background-color: #fcfcfc;
$body-font-color: #252A30;
$secondary-font-color: #8D9195;
$inactive-font-color: #DFE4E6;

$column-background-color: #fff;
$section-border-color: $inactive-font-color;
$brand-color: #36ca6c;

$theme-colors: (
  primary: $brand-color
);

/* modifiers */
$active-color-lightener: 10%;
$hover-background-darkener: 5%;

/* headers */
$header-background-color: $column-background-color;
$header-height: 56px;

/* footers */
$footer-height: 56px;

/* nweets */
$like-btn-color: #c73b31;
