/* global */
$body-background-color: #fcfcfc;
$body-font-color: #252A30;
$secondary-font-color: #8D9195;

$column-background-color: #fff;
$brand-color: #36ca6c;

/* modifiers */
$active-color-lightener: 10%;

/* headers */
$header-background-color: $column-background-color;
