| var div = "editCensoringModalTagList";
| document.getElementById(div).innerHTML = "#{j render(partial: 'settings/edit_censoring_modal_tags', locals: {tags: tags})}";
| document.getElementById("modalNewTagTextField").value = '';
