| var id = "#{taglist_id(context)}";
| document.getElementById(id).innerHTML = "#{j render(partial: 'settings/tags_form_taglist', locals: {context: context, tags: tags})}";
| document.getElementById("modalNewTagTextField").value = '';
