/* landing */
.landing-navbar {
  a {
    color: #fff;
  }

  .nav-link {
    padding: 0.5rem;
  }

  .navbar-btn-signup {
    border-color: white;
  }

  .navbar-btn-landing {
    color: white;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }

    &:active {
      color: white;
    }
  }
}
