| var div = "editModalTagList#{link.id}";
| document.getElementById(div).innerHTML = "#{j render(partial: 'cards/edit_modal_tags', locals: {link: link})}";
| document.getElementById("modalNewTagTextField").value = '';
