footer {
  margin-top: 1rem;
  padding: 1rem 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

$footer-list-width: 400px;

.footer-list {
  font-size: small;

  li {
    margin: 0 0.25rem;
    padding: 0;
    list-style: none;
    float: left;

    a {
      color: white;

      &:hover, &:active, &:focus {
        color: white;
      }
    }
  }
}
