.navbar {
  height: $header-height;
  align-content: center;
  z-index: 1;
}

/* landing */
.landing-navbar {
  a {
    color: #fff;
  }

  .nav-link {
    padding: 0.5rem;
  }

  .navbar-btn-signup {
    border-color: white;
  }

  .navbar-btn-landing {
    color: white;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }

    &:active {
      color: white;
    }
  }
}

/* guest */
.guest-navbar {
  .navbar-btn-landing {
    @extend .link-brand;
  }

  .navbar-btn-signup {
    @extend .btn-outline-primary;
  }
}

/* main navbars */
.guest-navbar, .user-navbar {
  background-color: $header-background-color;
  box-shadow: 0px 1px 4px $section-border-color;
  border-bottom: 1px solid $section-border-color;
  position: fixed;
  top: 0;
  width: 100vw;
}

.mode-nav {
  .nav-item {
    // bootstrap icons 上側に余白があるので荒療治
    transform: translateY(-3px);

    a {
      color: $secondary-font-color;
      font-size: 140%;
      margin-right: 1rem;

      &:hover {
        color: darken($secondary-font-color, $hover-background-darkener);
        text-decoration: none;
      }
    }

    &.active {
      a {
        color: $brand-color;

        &:hover {
          color: darken($brand-color, $hover-background-darkener);
        }

        &:active {
          color: lighten($brand-color, $active-color-lightener);
        }
      }
    }
  }

  .nav-label {
    font-size: small;
    padding: 0 0.5rem;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

#badgeUnreadNotifications {
  font-size: small;
}

.navbar-search-input-group {
  &:focus-within {
    .navbar-search-input {
      border-color: $brand-color;
    }

    .navbar-btn-search {
      border-color: $brand-color;
      color: $brand-color;
    }
  }
}

.btn-outline-subtle.navbar-btn-search {
  &:hover {
    background-color: $brand-color;
    color: $main-background-color;
  }
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-toggle {
  color: $inactive-font-color;
  padding-right: 0.5rem;

  &:hover {
    color: $inactive-font-color;
  }

  &:active {
    color: lighten($inactive-font-color, $active-color-lightener);
  }

  &::after {
    vertical-align: middle;
  }
}

.dropdown-menu {
  padding: 0;

  a {
    color: $body-font-color;

    &:hover {
      color: $body-font-color;
    }

    &:active {
      color: lighten($body-font-color, $active-color-lightener);
    }
  }
}

.dropdown-item {
  text-align: right;

  &:active {
    background-color: $brand-color;
    color: $main-background-color;
  }

  .nav-link {
    &:hover {
      text-decoration: none;
    }
  }
}
